h1{
    font-size: xx-large;

}
#p1{
    text-align: justify;
}
#p2{
    text-align: justify;
}
img{
    border-radius: 50px;
    margin-left: 65px;
    margin-top: 50px;
    margin-bottom: 50px;
}